.stationContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  .ant-image {
    grid-column: 1;
    padding: 80px;
  }
  .content__data {
    grid-column: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
    text-align: justify;
    .title {
      font-size: 2.5em;
      font-weight: bold;
    }
    .text1 {
      font-size: 1.3em;
    }
    .title2 {
      font-size: 2em;
      font-weight: bold;
    }
    .text2 {
      font-size: 1.1em;
    }
    .line {
      height: 3px;
      background: #cc5f5f;
      margin-bottom: 10px;
    }
  }
}
